### You will use SQLite language in this exercise.

# Load Data

Just Shift + Enter to run this shell

In [10]:
# Just Shift + Enter to run this shell


import pandas as pd
import pandasql as ps

file_location = "Salesforce 01.xlsx"

# this is your expected output, which means your answer will look like this
# this only stores the first 5 rows of the answers. If you get the same output, then your answer is considered correct.
expected_output = pd.read_excel(file_location, sheet_name = "expected_output")

# this is your SQL data base
car_launches = pd.read_excel(file_location, sheet_name = "car_launches")

In [11]:
# Just Shift + Enter to run this shell

car_launches.head()

   year company_name product_name
0  2020        Honda        Pilot
1  2020        Tesla      Model S
2  2020    Chevrolet       Blazer
3  2020        Tesla      Model X
4  2020    Chevrolet         Trax

# Expected Output

In [12]:
# Just Shift + Enter to run this shell

expected_output.head()

  Company_name  diff
0        Tesla     3
1    Chevrolet     2
2         Jeep     1
3       Toyota    -1
4         Ford    -1

# A Sample Solution

In [13]:
ps.sqldf(
    """
    SELECT company_name, COUNT(CASE WHEN year = 2020 THEN year END) - COUNT(CASE WHEN year = 2019 THEN year END) AS diff 
    FROM car_launches
    GROUP BY company_name
    ORDER BY COUNT(CASE WHEN year = 2020 THEN year END) - COUNT(CASE WHEN year = 2019 THEN year END)DESC

    """
    ).head()

  company_name  diff
0        Tesla     3
1    Chevrolet     2
2         Jeep     1
3       Toyota    -1
4         Ford    -1