### You will use SQLite language in this exercise.

# Load Data

Just Shift + Enter to run this shell

In [2]:
! pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages (from pandasql) (1.3.0)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.26-cp38-cp38-macosx_10_14_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 3.8 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp38-cp38-macosx_10_14_x86_64.whl (92 kB)
     |████████████████████████████████| 92 kB 1.3 MB/s  eta 0:00:01
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26816 sha256=0d0dace20f633a87ea2788fed0a0036b9fbeebf8cfbae22164f0cb03c13f07c9
  Stored in directory: /Users/samtims/Library/Caches/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: greenlet, sqlalchemy, pandasql
Successfully installed greenlet-1.1.2 pandasql-0.7.3 sqlalchemy-1.4.26
WARNING: You are using pip version 21.2.4; however, version 21.3 is available.
You should consider upgrading via the '/Users/samtims/.pyenv/versions/3.8.12/envs/frieda/bin/python3.8 -m pip install --upgrade pip' command.

In [3]:
# Just Shift + Enter to run this shell


import pandas as pd
import pandasql as ps

file_location = "Salesforce 01.xlsx"

# this is your expected output, which means your answer will look like this
# this only stores the first 5 rows of the answers. If you get the same output, then your answer is considered correct.
expected_output = pd.read_excel(file_location, sheet_name = "expected_output")

# this is your SQL data base
car_launches = pd.read_excel(file_location, sheet_name = "car_launches")

In [4]:
# Just Shift + Enter to run this shell

car_launches.head()

   year company_name product_name
0  2020        Honda        Pilot
1  2020        Tesla      Model S
2  2020    Chevrolet       Blazer
3  2020        Tesla      Model X
4  2020    Chevrolet         Trax

# Expected Output

In [5]:
# Just Shift + Enter to run this shell

expected_output.head()

  Company_name  diff
0        Tesla     3
1    Chevrolet     2
2         Jeep     1
3       Toyota    -1
4         Ford    -1

In [6]:
# Just Shift + Enter to run this shell
# this is a demo shell to show and test the basic SQL query.

ps.sqldf(
    """
    SELECT * 
    FROM expected_output
    LIMIT 5
    """
)

  Company_name  diff
0        Tesla     3
1    Chevrolet     2
2         Jeep     1
3       Toyota    -1
4         Ford    -1

# Your Answer here

1. Now you can try to answer the question and query with sqlite syntax!
2. After puting in your answers, press Shift + Enter , or simply run the cell to see if you can get the same output as the expected output.
3. You can also check out the "Answer.ipynb" if you have problems with answering the question.

In [ ]:
ps.sqldf(
    """

    Enter your SQLite query here, then hit Shift + Enter.

    """
    ).head()